<%= form_for @clientes do |f| %>
    <div>
    <%= f.label :rfc %> 
    <%= f.text_field :rfc %> 
    </div>
    <div>
    <%= f.label :nombre_cliente %> 
    <%= f.text_field :nombre_cliente %> 
    </div>

    <div>
    <%= f.submit %> 
   
    </div>
    <%end %>
