<%= form_with(model: orden, local: true) do |form| %>
  <% if orden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orden.errors.count, "error") %> prohibited this orden from being saved:</h2>

      <ul>
      <% orden.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table class="table table-dark">
  <div class="field">
     <td> <%= form.label :cliente_id %></td>
     <td> <%= form.text_field :cliente_id %></td>
  </div>

  <div class="field">
    <td>  <%= form.label :num_orden %></td>
   <td> <%= form.number_field :num_orden %></td>
  </div>

  <div class="field">
     <td> <%= form.label :fecha %></td>
   <td> <%= form.date_select :fecha %></td>
  </div>

  <div class="actions">
     <td> <%= form.submit %></td>
  </div>
<% end %>
