  <div class="text-center">
<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @orden.cliente %>
</p>

<p>
  <strong>Num orden:</strong>
  <%= @orden.num_orden %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @orden.fecha %>
</p>

<%= link_to 'Editar', edit_orden_path(@orden) %> |
<%= link_to 'Regrsar', ordens_path %>
