<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @orden.cliente %>
</p>

<p>
  <strong>Num orden:</strong>
  <%= @orden.num_orden %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @orden.fecha %>
</p>

<%= link_to 'Edit', edit_orden_path(@orden) %> |
<%= link_to 'Back', ordens_path %>
