<%= form_with(model: detalle_orden, local: true) do |form| %>
  <% if detalle_orden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(detalle_orden.errors.count, "error") %> prohibited this detalle_orden from being saved:</h2>

      <ul>
      <% detalle_orden.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table class="table table-dark">
  <div class="field">
  <td>   <%= form.label :producto_id %> </td>
   <td> <%= form.text_field :producto_id %></td>
  </div>

  <div class="field">
    <td><%= form.label :cantidad %></td>
   <td> <%= form.number_field :cantidad %></td>
  </div>

  <div class="field">
   <td> <%= form.label :precio %></td>
   <td> <%= form.number_field :precio %></td>
  </div>

  <div class="actions">

   <td> <%= form.submit %></td>
  
  </div>
  </table> 
<% end %>
