<div class=" text-center">
<hr>
<%= form_for @productos do |f| %>
<div class="container">
    <table class="table table-dark">
        <tr>
            <td>
                <%= f.label :nombre_producto %>
            </td>
        </tr>
        <tr>
            <td>
                <%= f.text_field :nombre_producto %>
            </td>
        </tr>
        <tr>
            <td>
                <%= f.label :precio %>
            </td>
        </tr>
        <tr>
            <td>
                <%= f.text_field :precio %>
            </td>
        </tr>
        <tr>
            <td>
                <%= f.submit %>
            </td>
        </tr>
    </table>
</div>
    <%end %>